body {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("img/pancakes.jpg");

    background-size: cover;
    list-style: none;

    margin: 0;
    padding:0;
}

#Strip{
    width: 100%; height: 70px;
    border-style: solid;
    border-color: saddlebrown;
    background-color: saddlebrown;
    z-index: -1; position:relative;
}

.Nav{

    float: right;
    list-style: none;
    margin-top: 50px;

}

.Nav li{
    display: inline-block ;
    color: white;
}

.Nav li a{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: Roboto,sans-serif;
    font-size: 15px;

}

.boxed {
    margin: 10% 12% 0% 12% ;
    background: white;
    height: 1000px;
    opacity: 0.8;
}

.Logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
}

.Recipes h1{
    text-align: center;
    font-size: 50px;
    font-family: "Segoe UI Light";
}

.questions{

    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));

    margin: 50px auto;
    width: 60%;
    border: 3px solid white;
    border-radius: 35px;
    padding: 30px;
}

.questions p{

    margin:auto;
    width: 50%;

    color: white;
    text-align: center;
    font-family: "Segoe UI Light";
    font-size: 20px;

    margin-top: 2%;
    margin-bottom: 2%;
}

.questions h2{

    border-radius: 25px;
    border: 2px solid white;
    padding: 1px;
    width: 400px;
    margin: auto;

    font-size: 35px;
    font-family: "Segoe UI Light";
    color: white;
    text-align: center;
}

.PageTitle h1{
    color: white;
    font-family: "Segoe UI Light";
    border-radius: 5px;
    border: 2px solid white;
    width: 150px;
    height: 45px;
    margin: 10px auto;
}